html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--chakra-colors-bg-canvas);
  color: var(--chakra-colors-text-primary);
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
